<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NumberTrivia.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NumberTriviaRepositoryImplementationTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NumberTriviaRepositoryImplementationTests.test_sut_should_return_remote_data_when_the_call_to_remote_dataSource_is_successful.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NumberTriviaRepositoryImplementationTests.test_sut_cache_data_locally_when_the_call_to_remote_data_source_is_successful.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4016A4F42630739400018420</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>4016A5052630739400018420</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
